<div id="component">
  <div id="pagetitle">
    <span>{{ pagetitle }}</span> |
    <a *ngIf="purchaseRequest" routerLink="/purchaseRequestLineItems/create/{{purchaseRequest.Id}}">Create New</a>
  </div>
  <div id="content" *ngIf="purchaseRequest">
    <table class="table table-striped">
      <tr>
        <th>Id</th>
        <th>Description</th>
        <th>Justification</th>
        <th>Status</th>
        <th>Total</th>
        <th>User</th>
      </tr>
      <tr>
        <td>{{purchaseRequest.Id}}</td>
        <td>{{purchaseRequest.Description }}</td>
        <td>{{purchaseRequest.Justification}}</td>
        <td>{{purchaseRequest.Status}}</td>
        <td>{{purchaseRequest.Total | currency}}</td>
        <td>{{purchaseRequest.Users.FirstName+" "+purchaseRequest.Users.LastName}}</td>
      </tr>
    </table>
    <hr />
    <table class="table table-sm">
      <tr>
        <th>Id</th>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Subtotal</th>
        <th>Actions</th>
      </tr>
      <tr *ngFor="let purchaseRequestLineItem of purchaseRequest.PurchaseRequestLineitems">
        <td>{{ purchaseRequestLineItem.Id }}</td>
        <td>{{ purchaseRequestLineItem.Products.Name }}</td>
        <td>{{ purchaseRequestLineItem.Quantity }}</td>
        <td>{{ purchaseRequestLineItem.Products.Price | currency }}</td>
        <td>{{ (purchaseRequestLineItem.Quantity * purchaseRequestLineItem.Products.Price) | currency }}</td>
        <td>
          <a routerLink="/purchaseRequestLineItems/detail/{{this.purchaseRequest.Id}}/{{purchaseRequestLineItem.Id}}">Detail</a> |
          <a routerLink="/purchaseRequestLineItems/edit/{{this.purchaseRequest.Id}}/{{purchaseRequestLineItem.Id}}">Edit</a>
        </td>
      </tr>
    </table>
  </div>
</div>