<div id="component">
    <div id="pagetitle">
        <span>{{ pagetitle }}</span>
    </div>
    <div id="content" *ngIf="prequest">
        <table class="table table-sm">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{prequest.Id}}</td>
                </tr>
                <tr>
                    <th>User</th>
                    <td>{{prequest.User.Name}}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{prequest.Description}}</td>
                </tr>
                <tr>
                    <th>Justification</th>
                    <td>{{prequest.Justification}}</td>
                </tr>
                <tr>
                    <th>Delivery Mode</th>
                    <td>{{prequest.DeliveryMode}}</td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td>{{prequest.Status}}</td>
                </tr>
                <tr>
                    <th>Total</th>
                    <td>{{prequest.Total}}</td>
                </tr>
                <tr>
                    <th>Active</th>
                    <td>{{prequest.Active ? "Yes" : ""}}</td>
                </tr>
                <tr>
                    <th>Reason for Rejection</th>
                    <td>{{prequest.ReasonForRejection}}</td>
                </tr>
            </tbody>
        </table>
        <a routerLink="/prequest/edit/{{prequest.Id}}" class="btn btn-warning">Edit</a>
        <button (click)="remove()" class="btn btn-danger">Delete</button>
    </div>
</div>