<div id="component">
    <div id="pagetitle">
        <span>{{ pagetitle }}</span>
    </div>
    <div id="content" *ngIf="purchaseRequest">
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <td>{{purchaseRequest.Id}}</td>
            </tr>
            <tr>
                <th>Date Created</th>
                <td>{{purchaseRequest.DateCreated}}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{purchaseRequest.Description}}</td>
            </tr>
            <tr>
                <th>Justification</th>
                <td>{{purchaseRequest.Justification}}</td>
            </tr>
            <tr>
                <th>RejectionReason</th>
                <td>{{purchaseRequest.ReasonForRejection}}</td>
            </tr>
            <tr>
                <th>DeliveryMode</th>
                <td>{{purchaseRequest.DeliveryMode}}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{purchaseRequest.Status}}</td>
            </tr>
            <tr>
                <th>Total</th>
                <td>{{purchaseRequest.Total | currency}}</td>
            </tr>
            <tr>
                <th>User</th>
                <td>{{purchaseRequest.Users.FirstName+" "+purchaseRequest.Users.LastName}}</td>
            </tr>
        </table>
        <a routerLink="/purchaseRequests/edit/{{purchaseRequest.Id}}" class="btn btn-outline-warning">Edit</a> |
        <button (click)="verify()" class="btn btn-outline-danger">Delete</button>
        <span [hidden]="purchaseRequest.Status=='REVIEW'">|
      <button (click)="review()" class="btn btn-outline-primary">Submit for Review</button>
    </span>
    </div>
</div>