<div id="component">
  <div id="pagetitle">
    <span>{{ pagetitle }}</span>
  </div>
  <div id="content" *ngIf="purchaseRequestLineItem">
    <div class="form-group row">
      <label class='col-form-label col-sm-2' for="purchaseRequestLineItemId">Id:</label>
      <input [(ngModel)]='purchaseRequestLineItem.Id' name='Id' type="text" class="form-control col-sm-6" id="purchaseRequestLineItemId"
        aria-describedby="IdHelp" placeholder="Id">
      <small id="IdHelp" class="form-text text-muted col-sm-2">The Id</small>
    </div>
  </div>
  <div class='col-sm-6 select-list'>
    <label class='col-form-label col-sm-2' for="purchaseRequestuser">User:</label>
    <select [(ngModel)]='purchaseRequestLineItem.PurchaseRequestsId' [compareWith]='compareFn' class='form-control' name='User'
      id='purchaseRequest-User'>
      <option *ngFor="let user of users" [ngValue]="user.Id" [selected]="user.Id == purchaseRequest.UserId">{{user.FirstName}}</option>
    </select>
  </div>
  <div class='col-sm-6 select-list'>
    <select [(ngModel)]='purchaseRequestLineItem.ProductsId' [compareWith]='compareFn' class='form-control' name='Product' id='product-Id'>
      <option *ngFor="let product of products" [ngValue]="products.Id" [selected]="products.Id == purchaseRequestLineItem.ProductsId">{{product.Name}}</option>
    </select>
  </div>
  <div class="form-group row">
    <label class='col-form-label col-sm-2' for="Quantity">Quantity:</label>
    <input [(ngModel)]='purchaseRequestineItem.Quantity' name='Quantity' type="text" class="form-control col-sm-6" id="Quantity"
      aria-describedby="QuantityHelp" placeholder="Quantity">
    <small id="QuantityHelp" class="form-text text-muted col-sm-2">The Quantity</small>
  </div>
  <div class="form-group row">
    <label class='col-form-label col-sm-2' for="Active">Active:</label>
    <input [(ngModel)]='purchaseRequestLineItem.Active' name='ActiveMode' type="checkbox" class="form-control col-sm-6" id="Active"
      aria-describedby="ActiveHelp" placeholder="ActiveMode">
    <small id="ActiveHelp" class="form-text text-muted col-sm-2">The ActiveMode</small>
  </div>
  <div>
    <button (click)="change()" class="btn btn-warning">Change</button>
  </div>
</div>