<div id="component">
    <div id="pagetitle">
        <span>{{ pagetitle }}</span>
    </div>
    <div id="content">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>User Name</th>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <td>{{user.UserName}}</td>
                    <td>{{user.FirstName}} {{user.LastName}}</td>
                    <td>{{user.Phone}}</td>
                    <td>{{user.Email}}</td>
                    <td>
                        <a routerLink="/users/detail/{{user.Id}}">Detail</a> |
                        <a routerLink="/users/edit/{{user.Id}}">Edit</a> |
                        <a routerLink="/users/delete/{{user.Id}}">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>