<div id="component">
    <div id="pagetitle">
        <span>{{ pagetitle }}</span>
    </div>
    <div id="content" *ngIf="product">
        <div class="form-group row">
            <label class='col-form-label col-sm-2' for="productVendorPartNumber">Part Number:</label>
            <input [(ngModel)]='product.VendorPartNumber' name='VendorPartNumber' type="text" class="form-control col-sm-6" id="VendorPartNumberNumber" aria-describedby="VendorPartNumberHelp" placeholder="VendorPartNumber">
            <small id="VendorPartNumberHelp" class="form-text text-muted col-sm-2">The PartNumber</small>
        </div>
        <div class="form-group row">
            <label class='col-form-label col-sm-2' for="productName">Name:</label>
            <input [(ngModel)]='product.Name' name='productName' type="text" class="form-control col-sm-6" id="productName" aria-describedby="productNameHelp" placeholder="productName">
            <small id="productNameHelp" class="form-text text-muted col-sm-2">The Name</small>
        </div>
        <div class="form-group row">
            <label class='col-form-label col-sm-2' for="productPrice">Price:</label>
            <input [(ngModel)]='product.Price' name='Price' type="number" class="form-control col-sm-6" id="productPrice" aria-describedby="productPriceHelp" placeholder="productPrice">
            <small id="productPriceHelp" class="form-text text-muted col-sm-2">The Price</small>
        </div>
        <div class="form-group row">
            <label class='col-form-label col-sm-2' for="productUnit">Unit:</label>
            <input [(ngModel)]='product.Unit' name='productUnit' type="text" class="form-control col-sm-6" id="productUnit" aria-describedby="productUnitHelp" placeholder="productUnit">
            <small id="productUnitHelp" class="form-text text-muted col-sm-2">The Unit</small>
        </div>
        <div class='form-group row'>
            <label class='col-form-label col-sm-2' for="productVendorName">Vendor:</label>
            <div class='col-sm-6 select-list'>
                <select [(ngModel)]='product.VendorsId' [compareWith]='compareFn' class='form-control' name='Vendors' id='product-Vendors'>
          <option *ngFor="let vendor of vendors" [ngValue]="vendor.Id" [selected]="vendor.Id == product.VendorsId">{{vendor.Name}}</option>
        </select>
            </div>
        </div>
        <div>
            <button (click)="create()" class="btn btn-warning">Create</button>
        </div>
    </div>
</div>