<div id="component">
    <div id="pagetitle">
        <span>{{ pagetitle }}</span>
    </div>
    <div id="content" *ngIf="prequest">
        <div class="form-group row">
            <label class='col-form-label col-sm-2' for="prequestId">Id:</label>
            <input [(ngModel)]='prequest.Id' name='prequestId' type="text" class="form-control col-sm-6" id="prequestId" aria-describedby="prequestIdHelp" placeholder="prequestId">
            <small id="prequestIdHelp" class="form-text text-muted col-sm-2">The Id</small>
        </div>
        <div class='col-sm-6 select-list'>
            <select [(ngModel)]='prequest.UserId' [compareWith]='compareFn' class='form-control' name='User' id='prequest-User'>
          <option *ngFor="let user of users" [ngValue]="user.Id" [selected]="user.Id == prequest.UserId">{{user.Name}}</option>
        </select>
        </div>
        <div class="form-group row">
            <label class='col-form-label col-sm-2' for="prequestDescription">Description:</label>
            <input [(ngModel)]='prequest.Description' name='prequestDescription' type="text" class="form-control col-sm-6" id="prequestDescription" aria-describedby="prequestDescriptionHelp" placeholder="prequestDescription">
            <small id="prequestDescriptionHelp" class="form-text text-muted col-sm-2">The Description</small>
        </div>
        <div class="form-group row">
            <label class='col-form-label col-sm-2' for="prequestJustification">Justification:</label>
            <input [(ngModel)]='prequest.Justification' name='prequestJustification' type="text" class="form-control col-sm-6" id="prequestJustification" aria-describedby="prequestJustificationHelp" placeholder="prequestJustification">
            <small id="prequestJustificationHelp" class="form-text text-muted col-sm-2">The Justification</small>
        </div>
        <div class="form-group row">
            <label class='col-form-label col-sm-2' for="prequestDeliveryMode">Delivery Mode:</label>
            <input [(ngModel)]='prequest.DeliveryMode' name='prequestDeliveryMode' type="text" class="form-control col-sm-6" id="prequestDeliveryMode" aria-describedby="prequestDeliveryModeHelp" placeholder="prequestDeliveryMode">
            <small id="prequestDeliveryModeHelp" class="form-text text-muted col-sm-2">The Delivery Mode</small>
        </div>
        <div class="form-group row">
            <label class='col-form-label col-sm-2' for="Status">Status:</label>
            <input [(ngModel)]='prequest.Status' name='prequestStatus' type="text" class="form-control col-sm-6" id="prequestStatus" aria-describedby="prequestStatusHelp" placeholder="prequestStatus">
            <small id="prequestStatusHelp" class="form-text text-muted col-sm-2">The Status</small>
        </div>
        <div class="form-group row">
            <label class='col-form-label col-sm-2' for="Total">Total:</label>
            <input [(ngModel)]='prequest.Total' name='Total' type="text" class="form-control col-sm-6" id="Total" aria-describedby="TotalHelp" placeholder="Total">
            <small id="TotalHelp" class="form-text text-muted col-sm-2">The Total</small>
        </div>
        <div class="form-group row">
            <label class='col-form-label col-sm-2' for="Active">Active:</label>
            <input [(ngModel)]='prequest.Active' name='Active' type="text" class="form-control col-sm-6" id="Active" aria-describedby="ActiveHelp" placeholder="Active">
            <small id="ActiveHelp" class="form-text text-muted col-sm-2">Active</small>
        </div>
        <div class="form-group row">
            <label class='col-form-label col-sm-2' for="ReasonForRejection">Reason For Rejection:</label>
            <input [(ngModel)]='prequest.ReasonForRejection' name='ReasonForRejection' type="text" class="form-control col-sm-6" id="ReasonForRejection" aria-describedby="ReasonForRejectionHelp" placeholder="ReasonForRejection">
            <small id="ReasonForRejectionHelp" class="form-text text-muted col-sm-2">Reason For Rejection</small>
        </div>
        <div>
            <button (click)="create()" class="btn btn-success">Add</button>
        </div>
    </div>