<div id="component">
  <div id="pagetitle">
    <span>{{ pagetitle }}</span>
  </div>
  <div id="content" *ngIf="user">
    <div class="form-group row">
      <label class='col-form-label col-sm-2' for="userfirstname">First name:</label>
      <input [(ngModel)]='user.FirstName' name='Firstname' type="text" class="form-control col-sm-6" id="userfirstname" aria-describedby="FirstNameHelp" placeholder="First Name">
      <small id="FirstNameHelp" class="form-text text-muted col-sm-2">The first name</small>
    </div>
    <div class="form-group row">
      <label class='col-form-label col-sm-2' for="userlastname">Last Name:</label>
      <input [(ngModel)]='user.LastName' name='Lastname' type="text" class="form-control col-sm-6" id="userlastname" aria-describedby="LastNameHelp" placeholder="Last Name">
      <small id="LastNameHelp" class="form-text text-muted col-sm-2">The last name</small>
    </div>    
    <div class="form-group row">
      <label class='col-form-label col-sm-2' for="userusername">User Name:</label>
      <input [(ngModel)]='user.UserName' name='Username' type="text" class="form-control col-sm-6" id="userUsername" aria-describedby="UsernameHelp" placeholder="User Name">
      <small id="UsernameHelp" class="form-text text-muted col-sm-2">The user name</small>
    </div> 
    <div class="form-group row">
      <label class='col-form-label col-sm-2' for="userpassword">Password:</label>
      <input [(ngModel)]='user.Password' name='Password' type="text" class="form-control col-sm-6" id="userpassword" aria-describedby="PasswordHelp" placeholder="Password">
      <small id="PasswordHelp" class="form-text text-muted col-sm-2">The Password</small>
    </div> 
    <div class="form-group row">
      <label class='col-form-label col-sm-2' for="Phone">Phone:</label>
      <input [(ngModel)]='user.Phone' name='Phone' type="text" class="form-control col-sm-6" id="Phone" aria-describedby="PhoneHelp" placeholder="Phone">
      <small id="PhoneHelp" class="form-text text-muted col-sm-2">The Phone</small>
    </div> 
    <div class="form-group row">
      <label class='col-form-label col-sm-2' for="Email">Email:</label>
      <input [(ngModel)]='user.Email' name='Email' type="text" class="form-control col-sm-6" id="Email" aria-describedby="EmailHelp" placeholder="Email">
      <small id="EmailHelp" class="form-text text-muted col-sm-2">The Email</small>
    </div> 
    <div class="form-group row">
      <label class='col-form-label col-sm-2' for="Reviewer">Reviewer:</label>
      <input [(ngModel)]='user.IsReviewer' name='Reviewer' type="checkbox" class="form-control col-sm-6" id="Reviewer" aria-describedby="ReviewerHelp" placeholder="Reviewer">
      <small id="ReviewerHelp" class="form-text text-muted col-sm-2">The Reviewer</small>
    </div> 
    <div class="form-group row">
      <label class='col-form-label col-sm-2' for="Admin">Admin:</label>
      <input [(ngModel)]='user.IsAdmin' name='Admin' type="checkbox" class="form-control col-sm-6" id="Admin" aria-describedby="AdminHelp" placeholder="Admin">
      <small id="ReviewerHelp" class="form-text text-muted col-sm-2">The Admin</small>
    </div> 
    <div>
      <button (click)="create()" class="btn btn-outline-success">Add</button>
    </div>
  </div>
</div>