<div id="component">
    <div id="pagetitle">
        <span>{{ pagetitle }}</span> | <a routerLink="/purchaseRequestLineItems/create">Create New</a>
    </div>
    <div id="content">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>PurchaseRequestsId</th>
                    <th>ProductsId</th>
                    <th>Quantity</th>
                    <th>Active</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let purchaseRequestLineItem of purchaseRequestLineItems">
                    <td>{{ PurchaseRequestLineItem.Id }}</td>
                    <td>{{ PurchaseRequestLineItem.PurchaseRequests.Users.FirstName }}</td>
                    <td>{{ PurchaseRequestLineItem.Products.Vendors.Name }}</td>
                    <td>{{ PurchaseRequestLineItem.Quantity }}</td>
                    <td>{{ PurchaseRequestLineItem.Active }}</td>
                    <td>
                        <a routerLink="/purchaseRequestLineItems/detail/{{purchaseRequestLineItem.Id}}">Detail</a> |
                        <a routerLink="/purchaseRequestLineItems/edit/{{purchaseRequestLineItem.Id}}">Edit</a>
                        <!-- |
                        <a routerLink="/purchaseRequestLineItems/lines/{{purchaseRequestLineItem.Id}}">Lines</a> -->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>