<div id="component">
    <div id="pagetitle">
        <span>{{ pagetitle }}</span>
    </div>
    <div id="content" *ngIf="purchaseRequestLineItem">
        <table class="table table-sm">
            <tr>
                <th>Id</th>
                <td>{{purchaseRequestLineItem.Id}}</td>
            </tr>
            <tr>
                <th>User</th>
                <td>{{purchaseRequestLineItem.Users.FirstName}}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{purchaseRequestLineItem.Products.Name}}</td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td>{{purchaseRequestLineItem.Quantity</td>
            </tr>
            <tr>
                <th>Active</th>
                <td>{{user.Active ? "Yes" : ""}}</td>
            </tr>
        </table>
        <a routerLink="/purchaseRequests/edit/{{purchaseRequest.Id}}" class="btn btn-warning">Edit</a> |
        <button (click)="verify()" class="btn btn-danger">Delete</button>
        <span [hidden]="isHidden">|
      <button (click)="remove()" class="btn btn-danger">Verify Delete</button>
    </span>
        <span [hidden]="purchaseRequest.Status=='REVIEW'">|
      <button (click)="review()" class="btn btn-primary">Review</button>
    </span>
    </div>
</div>