<div id="component">
    <div id="pagetitle">
        <span>{{ pagetitle }}</span>
    </div>
    <div id="content" *ngIf="purchaseRequest">
        <div class="form-group row">
            <label class='col-form-label col-sm-2' for="purchaseRequestDescription">Description:</label>
            <input [(ngModel)]='purchaseRequest.Description' name='Description' type="text" class="form-control col-sm-6" id="purchaseRequestDescription" aria-describedby="DescriptionHelp" placeholder="Description">
            <small id="DescriptionHelp" class="form-text text-muted col-sm-2">The Description</small>
        </div>
        <div class="form-group row">
            <label class='col-form-label col-sm-2' for="purchaseRequestJustification">Justification:</label>
            <input [(ngModel)]='purchaseRequest.Justification' name='Justification' type="text" class="form-control col-sm-6" id="purchaseRequestJustification" aria-describedby="JustificationHelp" placeholder="Justification">
            <small id="JustificationHelp" class="form-text text-muted col-sm-2">The Justification</small>
        </div>
        <div class="form-group row">
            <label class='col-form-label col-sm-2' for="DeliveryMode">Delivery Mode:</label>
            <input [(ngModel)]='purchaseRequest.DeliveryMode' name='DeliveryMode' type="text" class="form-control col-sm-6" id="DeliveryMode" aria-describedby="DeliveryModeHelp" placeholder="DeliveryMode">
            <small id="DeliveryModeHelp" class="form-text text-muted col-sm-2">The Delivery Mode</small>
        </div>
        <div class='form-group row'>
            <label class='col-form-label col-sm-2' for="purchaseRequestuser">User:</label>
            <div class='col-sm-6 select-list'>
                <select [(ngModel)]='purchaseRequest.UsersId' [compareWith]='compareFn' class='form-control' name='User' id='purchaseRequest-User'>
          <option *ngFor="let user of users" [ngValue]="user.Id" [selected]="user.Id == purchaseRequest.UsersId">{{user.FirstName}}</option>
        </select>
            </div>
        </div>
        <div>
            <button (click)="create()" class="btn btn-outline-success">Create</button>
        </div>
    </div>
</div>